%section.panel.radius
  %h3.subheader= 'Simulated annealing'
  = hidden_field_tag 'supervisor_script_id', 'simulated_annealing'
  = hidden_field_tag 'type', 'supervised'
  = hidden_field_tag 'supervisor_script_params'

  = form_tag '', id: 'supervisor_params' do
    .content
      .row
        .small-5.columns
          = label_tag :initial_temperature, 'Initial temperature:', class: 'right inline'
        .small-4.columns.end
          = number_field_tag :initial_temperature, 1000, min: 1, required: true, class: 'text-right'

      .row
        .small-5.columns
          = label_tag :cooling_rate, 'Cooling rate [0-1]:', class: 'right inline'
        .small-4.columns.end
          = number_field_tag :cooling_rate, 0.001, min: 0, required: true, class: 'text-right'

      .row
        .small-5.columns
          = label_tag :points_limit, 'Maximum number of points evaluated (0 is infinite):', class: 'right inline'
        .small-4.columns.end
          = number_field_tag :points_limit, 0, min: 0, required: true, class: 'text-right'

      .row
        .small-5.columns
          = label_tag :dwell, 'Number of inner iterations for each temperature value:', class: 'right inline'
        .small-4.columns.end
          = number_field_tag :dwell, 10, min: 1, required: true, class: 'text-right'

      .row
        .small-5.columns
          = label_tag :spread, 'Number of points generated for each inner iteration:', class: 'right inline'
        .small-4.columns.end
          = number_field_tag :spread, 10, min: 1, required: true, class: 'text-right'

      .row
        = 'Simulation result must contain key named \'moe\' with numeric value'
