%section.panel.radius
  %h3.subheader= 'Virtroll optimization using Hooke-Jeeves algorithm'
  = hidden_field_tag 'supervisor_script_id', 'virtroll_optimization_genetic'
  = hidden_field_tag 'type', 'supervised'
  = hidden_field_tag 'method_type', 'genetic'
  = hidden_field_tag 'supervisor_script_params'

  = form_tag '', id: 'supervisor_params' do
    .content
      .row
        .small-5.columns
          = label_tag :moe_name, 'Name of MoE to optimize:', class: 'right inline'
        .small-4.columns.end
          = text_field_tag :moe_name, 'moe', required: true, class: 'text-right'

      .row
        .small-5.columns
          = label_tag :optimization_max_error, 'Optimization max error:', class: 'right inline'
        .small-4.columns.end
          = text_field_tag :optimization_max_error, 0.001, min: 0, required: true, class: 'text-right'

      .row
        .small-5.columns
          = label_tag :optimization_max_iterations, 'Optimization max iterations count:', class: 'right inline'
        .small-4.columns.end
          = number_field_tag :optimization_max_iterations, 15, min: 1, required: true, class: 'text-right'

      .row
        .small-5.columns
          = label_tag :hj_working_step_multiplier, 'Step multiplier:', class: 'right inline'
        .small-4.columns.end
          = number_field_tag :hj_working_step_multiplier, 1, min: 1, required: true, class: 'text-right'

      .row
        .small-5.columns
          = label_tag :hj_parallel, 'Parallel optimization:', class: 'right inline'
        .small-4.columns.end
          = check_box_tag :hj_parallel, true, false, required: true, class: 'text-right'
