%section.panel.radius
  %h3.subheader= 'Sensitivity Analysis'
  = hidden_field_tag 'supervisor_script_id', 'sensitivity_analysis_morris'
  = hidden_field_tag 'type', 'supervised'
  = hidden_field_tag 'supervisor_script_params'
  = form_tag '', id: 'supervisor_params' do
    .content
      .row
        .small-5.columns
          = label_tag :method_type, 'Method:', class: 'right inline'
        .small-3.columns.end
          = select_tag :method_type,  options_for_select([["Morris (EET)", 'morris'], ["FAST", 'fast']], 'morris'), id: "method_type"

      .item.hidden{:id =>"opt-fast"}
        .row
          .small-5.columns
            = label_tag :design_type_fast, 'Quantile function:', class: 'right inline'
          .small-3.columns.end
            = select_tag :design_type_fast,  options_for_select([["qunif", 'qunif']], 'qunif'), id: "design_type_fast"
        .row
          .small-5.columns
            = label_tag :levels, 'Sample size (n):', class: 'right inline'
          .small-3.columns.end
            = number_field_tag :sample_size, 100, min: 1, required: true, class: 'text-left'
        .row
          = 'WARNING! Analysis on small sample size (n) is wrong for algorith. FAST require at least 100 points to compute per factor!'
      .item{:id =>"opt-morris"}
        .row
          .small-5.columns
            = label_tag :design_type, 'Design:', class: 'right inline'
          .small-3.columns.end
            = select_tag :design_type,  options_for_select([["OAT", 'oat'], ["Simplex", 'simplex']], 'oat'), id: "design_type"
        .row
          .small-5.columns
            = label_tag :size, 'Number of repetitions:', class: 'right inline'
          .small-3.columns.end
            = number_field_tag :size, 1, min: 1, required: true, class: 'text-left'
        .item{:id =>"opt-oat"}
          .row
            .small-5.columns
              = label_tag :levels, 'Number of levels:', class: 'right inline'
            .small-3.columns.end
              = number_field_tag :levels, 1, min: 1, required: true, class: 'text-left'
          .row
            .small-5.columns
              = label_tag :gridjump, 'Number of levels that are increased/decreased:', class: 'right inline'
            .small-3.columns.end
              = number_field_tag :gridjump, 1, min: 1, required: true, class: 'text-left'
        .item.hidden{:id =>"opt-simplex"}
          .row
            .small-5.columns
              = label_tag :factor, 'Homothety factor:', class: 'right inline'
            .small-3.columns.end
              = number_field_tag :factor, 1, min: 1, required: true, class: 'text-left'
        .row
          = 'WARNING! Analysis on small number of parameters and with few levels might contain incorrect results.'
      :javascript
        $("#method_type").on('change',function(){
          method_type = $("#method_type option:selected").text()
          if (method_type == "Morris (EET)") {
            $("#opt-morris").show()
            $("#opt-fast").hide()
          } else {
            $("#opt-morris").hide()
            $("#opt-fast").show()
          }
        })

        $("#design_type").on('change',function(){
          design_type = $("#design_type option:selected").text()
          if(design_type == "OAT"){
            $("#opt-oat").show()
            $("#opt-simplex").hide()
          } else if(design_type == "Simplex"){
              $("#opt-oat").hide()
              $("#opt-simplex").show()
           } else {
            toastr.error("Incorrectly selected values")
          }
        })