%section.panel.radius
  %h3.subheader= 'Sensitivity Analysis'
  = hidden_field_tag 'supervisor_script_id', 'sensitivity_analysis_morris'
  = hidden_field_tag 'type', 'supervised'
  = hidden_field_tag 'supervisor_script_params'
  = form_tag '', id: 'supervisor_params' do
    .content
      .row
        .small-5.columns
          = label_tag :design_type, 'Design', class: 'right inline'
        .small-3.columns.end
          = select_tag :design_type,  options_for_select([["OAT", 'oat'], ["Simplex", 'simplex']], 'oat'), id: "design_type"
      .row
        .small-5.columns
          = label_tag :size, 'Number of repetitions:', class: 'right inline'
        .small-3.columns.end
          = number_field_tag :size, 1, min: 1, required: true, class: 'text-left'
      .item{:id =>"opt-oat"}
        .row
          .small-5.columns
            = label_tag :levels, 'Number of levels', class: 'right inline'
          .small-3.columns.end
            = number_field_tag :levels, 1, min: 1, required: true, class: 'text-left'
        .row
          .small-5.columns
            = label_tag :gridjump, 'Number of levels that are increased/decreased', class: 'right inline'
          .small-3.columns.end
            = number_field_tag :gridjump, 1, min: 1, required: true, class: 'text-left'
      .item.hidden{:id =>"opt-simplex"}
        .row
          .small-5.columns
            = label_tag :factor, 'Homothety factor', class: 'right inline'
          .small-3.columns.end
            = number_field_tag :factor, 1, min: 1, required: true, class: 'text-left'
      :javascript
        $("#design_type").on('change',function(){
          design_type = $("#design_type option:selected").text()
          if(design_type=="OAT"){
            $("#opt-oat").show()
            $("#opt-simplex").hide()
          }
          else if(design_type=="Simplex"){
              $("#opt-oat").hide()
              $("#opt-simplex").show()
           }
          else{
            toastr.error("Incorrectly selected values")
          }
        })