%section.panel.radius
  %h3.subheader= 'Sensitivity analysis with Morris design'
  = hidden_field_tag 'supervisor_script_id', 'virtroll_sa_sobol'
  = hidden_field_tag 'type', 'supervised'
  = hidden_field_tag 'method_type', 'sobol'
  = hidden_field_tag 'supervisor_script_params'

  = form_tag '', id: 'supervisor_params' do
    .content
      .row
        .small-5.columns
          = label_tag :sobol_base_inputs_count, 'Method of Sobol base inputs count:', class: 'right inline'
        .small-4.columns.end
          = number_field_tag :sobol_base_inputs_count, 1, min: 1, required: true, class: 'text-right'
